# PRODUCTION MARKETING AI - LLAMAINDEX MODULES

llama-index-llms-groq
llama-index-embeddings-fastembed
llama-index-vector-stores-postgres
#llama-index-embeddings-cohere
llama-index-readers-file
fastembed
llama-index-core

# Core stack
fastapi
uvicorn[standard]
python-multipart
psycopg2-binary
sqlalchemy
pgvector
crewai
crewai-tools
litellm
email-validator
apscheduler
fastapi-sso
groq
tavily-python
slowapi
python-dotenv
ratelimit
circuitbreaker
structlog
pydantic-settings











